In [30]:
from IPython.display import display, HTML
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

def insert_data(file,create_statement,insert_statement,val):
    dr ={}
    conn = create_connection('Boston_crime.db', True)
    cur = conn.cursor()
    with conn:
        create_table(conn,create_statement)
    with open(file,'r') as file:
        shootings_dict = csv.DictReader(file)
    cur.executemany(insert_statement,val)
    conn.commit()
    conn.close()

def Crime_Inc_Rep(file):
    conn = create_connection('Boston_crime.db', True)
    cur = conn.cursor()
    with open(file,'r') as file:
        my_dict = csv.DictReader(file)
        val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
            ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
            ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
            ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
            ,i['Location']) for i in my_dict]

    cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)
    conn.commit()
    conn.close()

In [33]:
#Shootings Table Data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table Shootings (Incident_Num TEXT, Shooting_Date TEXT, 
                  District TEXT, Shooting_Type_V2 TEXT, Victim_Gender TEXT, 
                  Victim_Race TEXT,Victim_Ethnicity_NIBRS TEXT,Multi_Victim TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('Shootings.csv','r') as file:
    shootings_dict = csv.DictReader(file)
    val = [(i['Incident_Num'],i['Shooting_Date'],i['District'],i['Shooting_Type_V2'],i['Victim_Gender'],i['Victim_Race'],i['Victim_Ethnicity_NIBRS'],i['Multi_Victim']) for i in shootings_dict]

cur.executemany("INSERT INTO SHOOTINGS VALUES (?,?,?,?,?,?,?,?)",val)
conn.commit()

In [34]:
#Shots Fired Table Data
dr ={}
sql_statement = '''CREATE table Shots_Fired(Incident_Num TEXT, Incident_Date TEXT, 
                  District TEXT, Ballistics_Evidence TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('Shots_Fired.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['Incident_Num'],i['Incident_Date'],i['District'],i['Ballistics_Evidence']) for i in my_dict]

cur.executemany("INSERT INTO Shots_Fired VALUES (?,?,?,?)",val)
conn.commit()

In [35]:
#Crime Incident Report Table Data
dr ={}

sql_statement = '''CREATE table Crime_Incident_Reports(Incident_Num TEXT, Offense_Code TEXT, 
       Offense_Code_Group TEXT, Offense_Description TEXT, District TEXT,
       Reporting_Area TEXT, Shooting TEXT, Occurred_On_Date TEXT, 
       Year TEXT, Month TEXT,Day_Of_Week TEXT, Hour TEXT, UCR_Part,
       Street TEXT, Lat TEXT,Long TEXT, Location TEXT);'''
with conn:
    create_table(conn,sql_statement)

# Crime_Inc_Rep('crime-incident-reports-2015.csv')
# Crime_Inc_Rep('crime-incident-reports-2016.csv')
  
with open('crime-incident-reports-2015.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('crime-incident-reports-2016.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('crime-incident-reports-2017.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('crime-incident-reports-2018.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('Crime_Incident_Reports_2019.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)


with open('Crime_Incident_Reports_2020.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)


with open('Crime_Incident_Reports_2021.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)


conn.commit()

In [36]:
#BEST Table data

dr ={}
sql_statement = '''CREATE table Best(Month TEXT, Incidents TEXT, 
                  Proactive_Engagements TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('Boston Emergency Services Team Best.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['Month'],i['incidents'],i['proactive_engagements']) for i in my_dict]

cur.executemany("INSERT INTO Best VALUES (?,?,?)",val)
conn.commit()

In [37]:
# in_custody_death Table data
dr ={}
sql_statement = '''CREATE table in_custody_deaths(incident_number TEXT, incident_date TEXT, 
                  incident_location TEXT, incident_district TEXT,during_arrest TEXT, during_transport TEXT,
                  while_in_holding_cell TEXT, other TEXT,
                  prisoner_age TEXT, prisoner_race TEXT,
                  prisoner_sex_mf TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('in-custody-deaths.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['incident_number'],i['incident_date'],i['incident_location']
          ,i['incident_district'],i['during_arrest'],i['during_transport'],i['while_in_holding_cell']
          ,i['other'],i['prisoner_age'],i['prisoner_race'],i['prisoner_sex_mf']) for i in my_dict]

cur.executemany("INSERT INTO in_custody_deaths VALUES (?,?,?,?,?,?,?,?,?,?,?)",val)
conn.commit()

In [38]:
# bpd_firearm_recovery_counts table data
dr ={}
sql_statement = '''CREATE table bpd_firearm_recovery_counts(collection_date TEXT, crime_guns_recovered TEXT, 
                  guns_recovered_safeguard TEXT, buyback_gunsrecovered);'''
with conn:
    create_table(conn,sql_statement)
with open('BPD Firearm Recovery Counts.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['CollectionDate'],i['CrimeGunsRecovered'],i['GunsRecoveredSafeguard']
          ,i['BuybackGunsRecovered']) for i in my_dict]

cur.executemany("INSERT INTO bpd_firearm_recovery_counts VALUES (?,?,?,?)",val)
conn.commit()

In [39]:
# homicide_clearance_rate table data
dr ={}
sql_statement = '''CREATE table homicide_clearance_rate(year TEXT, homicides TEXT, 
                  same_year_clear TEXT, previous_year_clear TEXT, 
                  same_year_not_cleared TEXT, total_clear TEXT,
                  percent_cleared_same_year TEXT, percent_cleared_previous_year TEXT,
                  percent_not_cleared_same_year TEXT, clearance_rate TEXT,
                  percent_of_cleared_same_year TEXT, percent_of_cleared_previous_year TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('homicide-clearance-rate.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['Year'],i['Homicides'],i['Same Year Clear']
          ,i['Previous Year Clear'],i['Same Year Not Cleared'],i['Total Clear']
          ,i['Percent Cleared Same Year'],i['Percent Cleared Previous Year']
          ,i['Percent Not Cleared Same Year'],i['Clearance Rate'],i['Percent of Cleared Same Year']
          ,i['Percent of Cleared Previous Year']) for i in my_dict]

cur.executemany("INSERT INTO homicide_clearance_rate VALUES (?,?,?,?,?,?,?,?,?,?,?,?)",val)
conn.commit()

In [40]:
#historical_data_crime_incident_reports table data
dr ={}
sql_statement = '''CREATE table historical_data_crime_incident_reports(compnos TEXT, nature_code TEXT, 
                  incident_type_desc TEXT, main_crime_code TEXT, 
                  rept_district TEXT, reporting_area TEXT,
                  from_date TEXT, weapon_type TEXT,
                  shooting TEXT, domestic TEXT,
                  shift TEXT, year TEXT,month TEXT, day_week TEXT,
                  ucr_part TEXT, x TEXT, y TEXT,
                  street_name TEXT, xstreet_name TEXT,location TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('crime-incident-reports-july-2012-august-2015-source-legacy-system.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['COMPNOS'],i['NatureCode'],i['INCIDENT_TYPE_DESCRIPTION']
          ,i['MAIN_CRIMECODE'],i['REPTDISTRICT'],i['REPORTINGAREA']
          ,i['FROMDATE'],i['WEAPONTYPE']
          ,i['Shooting'],i['DOMESTIC'],i['SHIFT']
          ,i['Year'],i['Month'],i['DAY_WEEK'],i['UCRPART']
          ,i['X'],i['Y'],i['STREETNAME']
          ,i['XSTREETNAME'],i['Location']) for i in my_dict]

cur.executemany("INSERT INTO historical_data_crime_incident_reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)
conn.commit()

In [41]:
#rmsoffensecodes Table data
dr ={}
sql_statement = '''CREATE table rmsoffensecodes(code TEXT, name TEXT);'''
with conn:
    create_table(conn,sql_statement)
with open('rmsoffensecodes.csv','r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['CODE'],i['NAME']) for i in my_dict]

cur.executemany("INSERT INTO rmsoffensecodes VALUES (?,?)",val)
conn.commit()

In [44]:
sql_statement = "select * from shootings;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,Incident_Num,Shooting_Date,District,Shooting_Type_V2,Victim_Gender,Victim_Race,Victim_Ethnicity_NIBRS,Multi_Victim
0,I152000196-00,2015-01-01 13:30:00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
1,I152000879-00,2015-01-04 01:58:00,E18,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
2,I152001014-00,2015-01-04 18:52:00,E5,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
3,I152002232-00,2015-01-08 22:45:00,B2,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
4,I152002233-00,2015-01-08 22:45:00,B2,Non-Fatal,Female,Black or African American,Not Hispanic or Latinx,t
...,...,...,...,...,...,...,...,...
1581,212082552,2021-11-10 22:25:00,E18,Non-Fatal,Male,,,f
1582,212083607,2021-11-15 00:30:30,D14,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
1583,212083607,2021-11-15 00:30:43,D14,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
1584,212083356,2021-11-13 22:36:30,B2,Non-Fatal,Male,Black or African American,Hispanic or Latinx,f
1585,212084130,2021-11-16 19:56:00,B2,Non-Fatal,,,,f

In [45]:

sql_statement = "select * from shots_fired;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

       Incident_Num        Incident_Date District Ballistics_Evidence
0     I152000093-00  2015-01-01 04:17:00      C11                   f
1     I152000042-00  2015-01-01 00:05:00      A15                   f
2     I152000514-00  2015-01-02 15:51:00       B3                   t
3     I152000965-00  2015-01-04 15:30:00       B2                   t
4     I152000872-00  2015-01-04 00:13:00       B2                   f
...             ...                  ...      ...                 ...
6621      212083621  2021-11-14 23:56:00       B3                   f
6622      212084172  2021-11-17 03:03:00       B2                   f
6623      212084367  2021-11-17 18:46:00       B2                   t
6624      212084717  2021-11-18 23:06:00      C11                   t
6625      212084509  2021-11-18 12:18:00       B3                   f

[6626 rows x 4 columns]

In [57]:

sql_statement = "select * from Crime_Incident_Reports order by Offense_Code_Group desc, Offense_Code desc;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,Incident_Num,Offense_Code,Offense_Code_Group,Offense_Description,District,Reporting_Area,Shooting,Occurred_On_Date,Year,Month,Day_Of_Week,Hour,UCR_Part,Street,Lat,Long,Location
0,I142060752-00,3125,Warrant Arrests,WARRANT ARREST,B2,280,,2015-12-11 12:50:00,2015,12,Friday,12,Part Three,DUDLEY ST,42.32872589,-71.08382217,"(42.32872589, -71.08382217)"
1,I142025900-00,3125,Warrant Arrests,WARRANT ARREST,E13,577,,2015-12-01 18:00:00,2015,12,Tuesday,18,Part Three,AMORY ST,42.31771264,-71.10180456,"(42.31771264, -71.10180456)"
2,I142017108-00,3125,Warrant Arrests,WARRANT ARREST,A1,64,,2015-06-16 15:55:00,2015,6,Tuesday,15,Part Three,FRUIT ST,42.36240281,-71.06954652,"(42.36240281, -71.06954652)"
3,I142014620-00,3125,Warrant Arrests,WARRANT ARREST,A1,112,,2015-08-18 01:10:00,2015,8,Tuesday,1,Part Three,WASHINGTON ST,42.35456406,-71.06147418,"(42.35456406, -71.06147418)"
4,I142014620-00,3125,Warrant Arrests,WARRANT ARREST,A1,112,,2015-08-18 01:10:00,2015,8,Tuesday,1,Part Three,WASHINGTON ST,42.35456406,-71.06147418,"(42.35456406, -71.06147418)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556766,192074613,100,,Migrated Report - Criminal Homicide,C11,289,1,2019-09-16 23:46:00,2019,9,Monday,23,,WILLIAM T MORRISSEY BLVD,0,0,"(0, 0)"
556767,192070453,100,,Migrated Report - Criminal Homicide,A7,,0,2019-09-03 23:25:00,2019,9,Tuesday,23,,W EAGLE ST,42.3813578537773,-71.0376816279925,"(42.3813578537773, -71.0376816279925)"
556768,192040692,100,,Migrated Report - Criminal Homicide,C11,,0,2019-05-30 22:47:00,2019,5,Thursday,22,,TREMLETT ST,0,0,"(0, 0)"
556769,192006868,100,,Migrated Report - Criminal Homicide,B3,,1,2019-01-26 17:10:00,2019,1,Saturday,17,,WITHINGTON ST,0,0,"(0, 0)"
556770,192002129,100,,Migrated Report - Criminal Homicide,B2,317,1,2019-01-08 16:31:00,2019,1,Tuesday,16,,CRAWFORD ST,0,0,"(0, 0)"

In [48]:

sql_statement = "select * from Best;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

             Month Incidents Proactive_Engagements
0     January 2020        27                    19
1    February 2020        24                     7
2       March 2020        36                    49
3       April 2020        53                    75
4         May 2020        59                    75
5        June 2020        41                    54
6        July 2020        34                    59
7      August 2020        59                    44
8   September 2020        47                    40
9     October 2020        61                    52
10   November 2020        45                    18
11   December 2020        40                    38
12    January 2021        56                    20
13   February 2021        43                     6
14      March 2021        27                     6

In [49]:

sql_statement = "select * from in_custody_deaths;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,incident_number,incident_date,incident_location,incident_district,during_arrest,during_transport,while_in_holding_cell,other,prisoner_age,prisoner_race,prisoner_sex_mf
0,162038132,5/16/2016,101 West Broadway,C-6,No,No,Yes,N/A,41,B/N,F
1,182071986,9/7/2018,40 New Sudbury Street,A-1,No,No,Yes,N/A,45,W/N,M
2,192039859,5/28/2019,650 Harrison Ave,D-4,No,No,Yes,N/A,39,W/H,M
3,192054041,7/14/2019,650 Harrison Ave,D-4,No,Yes,No,N/A,49,B/N,M
4,192054058,7/14/2019,650 Harrison Ave,D-4,No,No,Yes,N/A,23,W/N,M
5,202007074,1/27/2020,9 Paris St,A-7,No,No,Yes,N/A,50,W/N,M

In [50]:

sql_statement = "select * from bpd_firearm_recovery_counts;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,collection_date,crime_guns_recovered,guns_recovered_safeguard,buyback_gunsrecovered
0,0014-10-03,2,0,0
1,2014-08-19,292,134,369
2,2014-08-20,2,3,1
3,2014-08-21,2,0,4
4,2014-08-22,0,0,2
...,...,...,...,...
1947,2021-11-24,0,0,0
1948,2021-11-25,0,0,0
1949,2021-11-26,0,0,0
1950,2021-11-27,0,0,0
1951,2021-11-28,0,0,0

In [51]:

sql_statement = "select * from homicide_clearance_rate;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,year,homicides,same_year_clear,previous_year_clear,same_year_not_cleared,total_clear,percent_cleared_same_year,percent_cleared_previous_year,percent_not_cleared_same_year,clearance_rate,percent_of_cleared_same_year,percent_of_cleared_previous_year
0,2020,57,19,1,38,20,0.3333,0.0175,0.6667,0.3509,0.95,0.05
1,2019,37,17,7,20,24,0.4595,0.1892,0.5405,0.6486,0.7083,0.2917
2,2018,56,32,6,24,38,0.5714,0.1071,0.4286,0.6786,0.8421,0.1579
3,2017,57,26,9,31,35,0.4561,0.1579,0.5439,0.614,0.7429,0.2571
4,2016,49,19,11,30,30,0.3878,0.2245,0.6122,0.6122,0.6333,0.3667
5,2015,40,16,13,24,29,0.4,0.325,0.6,0.725,0.5517,0.4483

In [52]:

sql_statement = "select * from historical_data_crime_incident_reports;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,compnos,nature_code,incident_type_desc,main_crime_code,rept_district,reporting_area,from_date,weapon_type,shooting,domestic,shift,year,month,day_week,ucr_part,x,y,street_name,xstreet_name,location
0,120420285,BERPTA,RESIDENTIAL BURGLARY,05RB,D4,629,07/08/2012 06:00:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,763273.1791,2951498.962,ABERDEEN ST,,"(42.34638135, -71.10379454)"
1,120419202,PSHOT,AGGRAVATED ASSAULT,04xx,B2,327,07/08/2012 06:03:00 AM,Firearm,Yes,No,Last,2012,7,Sunday,Part One,771223.1638,2940772.099,HOWARD AV,,"(42.31684135, -71.07458456)"
2,120419213,ARMROB,ROBBERY,03xx,D4,625,07/08/2012 06:26:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,765118.8605,2950217.536,JERSEY ST,QUEENSBERRY ST,"(42.34284135, -71.09698955)"
3,120419223,ALARMC,COMMERCIAL BURGLARY,05CB,B2,258,07/08/2012 06:56:00 AM,Other,No,No,Last,2012,7,Sunday,Part One,773591.8648,2940638.174,COLUMBIA RD,,"(42.3164411, -71.06582908)"
4,120419236,ARMROB,ROBBERY,03xx,E18,496,07/08/2012 07:15:00 AM,Firearm,No,No,Last,2012,7,Sunday,Part One,759042.7315,2923832.681,COLLINS ST,,"(42.27051636, -71.11989955)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268051,,MVA,Motor Vehicle Accident Response,MVAcc,B3,565,08/10/2015 02:38:00 AM,None,No,No,,2015,8,Monday,Part Three,,,HARVARD ST,WALK HILL ST,"(0.0, 0.0)"
268052,,ARREST,Police Service Incidents,Service,C11,348,08/10/2015 04:46:00 AM,None,No,No,,2015,8,Monday,Part Three,,,DORCHESTER AVE,LYON ST,"(0.0, 0.0)"
268053,,MVA,Motor Vehicle Accident Response,MVAcc,B2,313,08/10/2015 04:48:00 AM,None,No,No,,2015,8,Monday,Part Three,,,DECKARD ST,HUMBOLDT AVE,"(0.0, 0.0)"
268054,,CD19,Investigate Person,InvPer,D4,275,08/10/2015 05:01:00 AM,None,No,No,,2015,8,Monday,Part Three,,,HAMMOND ST,NULL,"(0.0, 0.0)"
268055,,MVA,Motor Vehicle Accident Response,MVAcc,NULL,0,08/10/2015 05:20:00 AM,None,No,No,,2015,8,Monday,Part Three,,,NULL,HYDE PARK AVE,"(0.0, 0.0)"

In [42]:

sql_statement = "SELECT * FROM sqlite_master WHERE type='table';"
df = pd.read_sql_query(sql_statement, conn)
display(df)

,type,name,tbl_name,rootpage,sql
0,table,Shootings,Shootings,2,"CREATE TABLE Shootings (Incident_Num TEXT, Sho..."
1,table,Shots_Fired,Shots_Fired,43,"CREATE TABLE Shots_Fired(Incident_Num TEXT, In..."
2,table,Crime_Incident_Reports,Crime_Incident_Reports,113,CREATE TABLE Crime_Incident_Reports(Incident_N...
3,table,Best,Best,24932,"CREATE TABLE Best(Month TEXT, Incidents TEXT, ..."
4,table,in_custody_deaths,in_custody_deaths,24933,CREATE TABLE in_custody_deaths(incident_number...
5,table,bpd_firearm_recovery_counts,bpd_firearm_recovery_counts,24934,CREATE TABLE bpd_firearm_recovery_counts(colle...
6,table,homicide_clearance_rate,homicide_clearance_rate,24946,CREATE TABLE homicide_clearance_rate(year TEXT...
7,table,historical_data_crime_incident_reports,historical_data_crime_incident_reports,24947,CREATE TABLE historical_data_crime_incident_re...
8,table,rmsoffensecodes,rmsoffensecodes,36936,"CREATE TABLE rmsoffensecodes(code TEXT, name T..."

In [26]:

conn.close()